:root {
}

.hidden {
    display: none;
}

#vertical-list {
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.horizontal-list {
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
    height: 10%;
    min-height: 100px;
}

.button {
    margin: 15px;
    flex-grow: 1;
    max-width: 380px;
    background-color: rgb(202, 97, 195);
    color: white;
    border-radius: 65px;
}

.button .unity-image {
    padding: 20px;
}